<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768587292209-noo4a58k1jt4krjoial0t88aag84qgbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768587292209-noo4a58k1jt4krjoial0t88aag84qgbs</string>
	<key>API_KEY</key>
	<string>AIzaSyDibVzGvs9218ay4_HEeOXH3x7qL87zvfE</string>
	<key>GCM_SENDER_ID</key>
	<string>768587292209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.narangkevin.xnlivescore</string>
	<key>PROJECT_ID</key>
	<string>xnlivescore</string>
	<key>STORAGE_BUCKET</key>
	<string>xnlivescore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768587292209:ios:1395004505e57c25c03f10</string>
	<key>DATABASE_URL</key>
	<string>https://xnlivescore.firebaseio.com</string>
</dict>
</plist>